<div style="margin-left: {{ depth * 10 }}px;">

    <p>{{ comment.description }}</p>

    {% for child in comment.children %}
        {% include 'topic/_comment_tree.html.twig' with {
            comment: child,
            depth: depth + 1
        } %}
    {% endfor %}
</div>
