<div class="comment-block">
    {% if comment.description|length > 80 %}
        <div class="comment-short" style="padding-left: 22px;">
            {{ comment.description|slice(0, 80) }}
            <span onclick="toggleComment(this)" style="cursor:pointer; color:blue;">
                ... [voir plus]
            </span>
        </div>
        <div class="comment-full" style="display:none; padding-left: 22px;">
            {{ comment.description }}
            <span onclick="toggleComment(this)" style="cursor:pointer; color:blue;">
                [voir moins]
            </span>
        </div>
    {% else %}
        {{ comment.description }}
    {% endif %}
    {% for child in comment.children %}
        {% include 'topic/_comment_tree.html.twig' with {
            comment: child,
        } %}
    {% endfor %}
</div>
