{% extends 'base.html.twig' %}

{% block body %}

    {% include 'topic/_comment_tree.html.twig' with {
        node: tree,
        depth: 0
    } %}

    <a href="{{ path('topic_show', {'id': topic.id }) }}">Retour</a>
    <a href="{{ path('app_root') }}">Accueil</a>

{% endblock %}
