{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ topic.title }}</h1>

    <h2>Commentaires</h2>

    {% for comment in comments %}
        <div>
            <a href="{{ path('comment_show', {id: comment.id}) }}">
                {{ comment.description }}
            </a>
        </div>
    {% endfor %}

    <a href="{{ path('app_root') }}">Accueil</a>
{% endblock %}
