{# templates/home/show.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ comment.description }}</h1>

    <h3>Réponses</h3>

    {% for child in children %}
        <div style="margin-left: 20px;">
            <a href="{{ path('comment_show', {id: child.id}) }}">
                {{ child.description }}
            </a>
        </div>
    {% else %}
        <p>Aucune réponse</p>
    {% endfor %}
{% endblock %}
