{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sujet : {{ topic.title }}</h1>

    <h2>Commentaires</h2>

    {% for comment in comments %}
        <div>
            <p>{{ comment.description }}</p>
            <a href="{{ path('comment_show', {'topicId': topic.id, 'commentId': comment.id}) }}">
                Voir les réponses
            </a>
        </div>
    {% endfor %}

    <a href="{{ path('app_root') }}">Accueil</a>
{% endblock %}
