{% extends 'base.html.twig' %}

{% block body %}

    <p>{{ comment.description }}</p>

    {% for child in comment.children %}
        {% include 'topic/_comment_tree.html.twig' with {
            comment: child,
            depth: 1
        } %}
    {% endfor %}

    <a href="{{ path('topic_show', {'id': topic.id }) }}">Retour</a>
    <a href="{{ path('app_root') }}">Accueil</a>

{% endblock %}
